.module-container {
  align-items:flex-start;
}
.module-text .module-media {
  margin:0;
  aspect-ratio:unset;
  max-width:510px;
}
.module-text .module-media img {
  width:100%;
  max-width:unset;
}